---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout
  title="Бисквитки | Кафемашини"
  pageTitle="Бисквитки"
  description="Информация за използваните бисквитки (cookies) на сайта Kafemashini.ch."
>
  <p>Използваме бисквитки на нашия сайт, за да подобрим неговото представяне, да ви предоставим най-добро потребителско изживяване.</p>

  <h2>Какво представляват бисквитките?</h2>

  <p>Бисквитка (cookie) e малко количество данни, които се съхраняват във файл, който уебсайтовете поставят в компютрите на своите посетители с цел съхраняване на информация, специфична за този посетител или устройството, което той ползва. Това помага на сайта да запомни информация за вашето посещение. Така следващото ви посещение ще бъде по-лесно, а сайтът ще бъде по-полезен за вас.</p>

  <p>Бисквитките имат много важна роля и без тях ползването на уебсайтовете би било по-трудно. Те са създадени, за да се преодолее ограничението в уеб технологиите. Уеб страниците нямат памет и не могат лесно да разменят информация помежду си. Така бисквитките осигуряват един вид памет за уеб страниците.</p>

  <p>Повечето бисквитки не събират информация, която може да ви идентифицира, а по-скоро събират обща информация за това как потребителите достигат до сайтовете и как ги използват или какво е тяхното местоположение.</p>

  <h2>Какви бисквитки използва сайтът на Kafemashini.ch?</h2>

  <p>Вижте подробно описание на използваните от този сайт бисквитки:</p>

  <h3>1. Собствени системно необходими бисквитки</h3>

  <p>Тези бисквитки са наши собствени бисквитки, които са излючително важни за правилното функциониране на нашия сайт и без тях неговата работа ще бъде невъзможна. Не ги споделяме с трети лица и те не съдържат ваши лични данни.</p>

  <p><strong>Ако изключите тези бисквитки, сайтът няма да работи правилно.</strong></p>

  <p>Те ни позволяват да разпознаем, че вече сте посещавали сайта ни, да настроим правилно комуникацията си към вас, да запазим избрани от вас имоти в бележник и да предложим персонализирано съдържание на сайта.</p>

  <h3>2. Бисквитки на трети страни – те биват следните видове:</h3>

  <h4>Аналитични</h4>

  <p>Аналитичните бисквитки служат за събирането на статистическа информация, въз основа на която могат да се направят общи заключения и препоръки за ефективността на сайта с оглед целите на потребителите, както и с оглед на маркетингови и рекламни цели. Такива статистики включват брой потребители на страница, най-посещавани страници, източници на посещението, време, прекарано на страницата, възникнали грешки и други.</p>

  <p>Тези бисквитки позволяват да се събира анонимна информация за начина, по който потребителите навигират в уебсайта и затрудненията, които могат да изпитват. За по-добра прецизност, сайтът ни използва утвърдените аналитичните инструменти на Google Analytics.</p>

  <h4>Функционални</h4>

  <p>Използваме бисквитки на Google, Facebook и Twitter за функциониране на различните бутони за споделяне към социалните мрежи.</p>

  <h4>Рекламни</h4>

  <p><strong>Kafemashini.ch</strong> използва бисквитки на Google и FaceBook, за да ви показва реклами, които вярваме, че са релевантни на вашите интереси.</p>

  <p>Вие можете да видите тези реклами на различни сайтове, които посещавате, както и в социалните мрежи.</p>

  <h2>Колко време се съхранява информацията?</h2>

  <p>Информацията се запазва в зависимост от типа бисквитки. При сесийните тя се изтрива при затварянето на браузъра, докато постоянните са валидни между два месеца и няколко години. Нашите собствени бисквитки са със срок до 90 дни.</p>

  <h2>Как можете да управлявате бисквитките?</h2>

  <p>Като потребител, имате възможност да контролирате използваните бисквитки, да изтривате запазените на вашето устройство бисквитки и да деактивирате употребата на бисквитки занапред.</p>
</PageLayout>
