---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout
  title="Блог | Кафемашини"
  pageTitle="Блог"
  description="Статии и съвети за кафе машини, поддръжка и кафе."
>
  <p class="text-text/60">Скоро...</p>
</PageLayout>
