---
import PageLayout from '../layouts/PageLayout.astro';
---

<PageLayout
  title="Cookie Policy | Кафемашини"
  pageTitle="Cookie Policy"
  description="Cookie policy for Kafemashini.ch - information about how we use cookies on our website."
>
  <p>This site uses cookies – small text files that are placed on your machine to help the site provide a better user experience. In general, cookies are used to retain user preferences, store information for things like shopping carts, and provide anonymised tracking data to third party applications like Google Analytics.</p>

  <p>As a rule, cookies will make your browsing experience better. However, you may prefer to disable cookies on this site and on others. The most effective way to do this is to disable cookies in your browser. We suggest consulting the Help section of your browser or taking a look at <a href="http://www.aboutcookies.org" target="_blank" rel="noopener noreferrer">the About Cookies website</a> which offers guidance for all modern browsers.</p>
</PageLayout>
