---
import ProductCard from './ProductCard.astro';
import type { Product } from '../utils/products';

interface Props {
  products: Product[];
}

const { products } = Astro.props;
---

<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-6">
  {products.map(product => (
    <ProductCard product={product} />
  ))}
</div>
